{
  "CONFIG_PATH": "cfg//main.json",
  "CONFIG_RELOAD_TIME": 1,
  "DB_HOST": "localhost",
  "DB_NAME": "stackexchange_bot",
  "DB_PASSWORD": "",
  "DB_PORT": 5432,
  "DB_USER": "",
  "LOG_LEVEL": "DEBUG",
  "HALT_ON_ERRORS": false,
  "SERVER_NAME": "",
  "BOT_SECRET": "",
  "ADMIN_ACCOUNTS": []
}